@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .grid-container
    gap: 20px 20px
  .advice
    &-bottom
      padding: 28px 32px
  .footer
    &-wrapper
      grid-template-columns: 210px 200px 0 280px 190px
    &__input
      &-group
        flex-basis: 100%
    &__title
      white-space: nowrap
// ___________________________________________________________________________________________
@media  ( max-width: 992px )
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 4px 30px 0
    &__search
      margin-left: 48px
      max-width: 340px
    &-menu
      padding: 20px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-info
      margin-bottom: 18px
    &__slider
      margin-left: 0
      width: 100%
  .rating
    margin-top: 8px
  .booking
    width: 50%
    max-width: 340px
  .map
    width: 50%
    max-width: 335px
  .newsletter
    padding: 92px 0 92px 0
    &-wrapper
      flex-direction: row
      justify-content: space-between
      width: 92%
      align-items: start
    &__form
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 48.5%
    height: 250px
  .grid-container
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    gap: 20px 20px
    grid-template-areas: "blueheaven blueheaven" "bellemare whitepalace" "luxuryplace fivestar"
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: 180px 300px 190px
      grid-row-gap: 51px
      grid-column-gap: 10px
      margin-bottom: 56px
    &__logo
      width: 97px
      height: 110px
      grid-row: 1/2
      grid-column: 1/2
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 3
        align-self: center
        padding-top: 15px
    &__categories
      grid-row: 2/3
      grid-column: 1/2
    &__additional
      grid-row: 2/3
      grid-column: 2/3
      margin-left: 10px
    &__legal
      grid-row: 2/3
      grid-column: 3/4
    &__contact
      &-details
        grid-row: 3
        grid-column: span 4
      &-form
        grid-row: 4
        grid-column: 1/4
        max-width: 539px
    &__input
      &-group
        flex-basis: 48%
    &__title
      &--air
        margin-bottom: 26px
    &__item
      &--air
        margin-bottom: 20px
  .modal
    &__dialog
      padding: 33px 56px
    // _______________________________________________________________________________________
@media ( max-width: 767px )
  body
    padding-top: 78px
  .container
    max-width: 91%
  .navbar
    &-top
    &__search, &__user
      display: none
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          width: 80%
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 78px
      bottom: 0
      right: 0
      left: 0
      padding-top: 30px
      &_visible
        display: block
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-menu
      &__list
        flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      outline: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    margin-bottom: 60px
    &__slider
      height: 350px
      width: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__name
        margin-top: 8px
        flex-basis: 100%
      &__text
        width: 100%
  .user
    &__name
      &_light
        margin-left: 0
        margin-top: 10px
        color: $light
  .stars
    flex-basis: auto
  .booking
    margin-right: 20px
    width: 50%
    min-width: 50%
  .map
    &-google
      width: 50%
      min-width: 50%
  .newsletter
    &-title
      margin-right: 40px
  .reviews
    padding: 40px 0px 60px 0px
    &__title
      font-family: Mulish
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__avatar
        margin-bottom: 10px
      &__profile
        margin-bottom: 34px
      &__text
        max-width: 455px
      &__item
        padding: 0 30px 30px
        &::after,&::before
          display: none
      &__button
        &--prev
          left: -5px
          // left: 50%
          // margin-left: -295px
          transform: translate(0,50%)
        &--next
          right: -5px
          // right: 50%
          // margin-right: -5px
          transform: translate(0,50%)
  .swiper
    &-slide
      padding: 0 60px 0 60px
  .activities
    padding-top: 60px
    padding-bottom: 49px
  &__title
    margin-bottom: 57px
  .card
    height: 255px
  &__title
    margin-left: 0
  .package
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 35px
  .room
    &-main
      margin-bottom: 30px
    &__icon
      margin-right: 9px
  .advice
    &-bottom
      padding: 20px 24px
      &__title
        &_main
          display: flex
          flex-direction: column
          margin-bottom: 22px
      &__depiction
        margin-bottom: 30px
        line-height: 20px
  .wrap
    &__button
      padding: 8px 20px
  .footer
    padding-bottom: 30px
    &-container
      margin-left: 32px
    &-wrapper
      grid-template-columns: 180px 300px 190px
      grid-row-gap: 40px
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 10px
    &__social
      &-network
        grid-row: 1
        grid-column: 2
        padding-bottom: 5px
      &-links
    &__link
      margin-right: 10px
    &__title
      &--inline
      &--mb
        margin-top: 50px
    &__additional
      grid-row: 2
      grid-column: 2
      margin-left: 0
    &__categories
      grid-row: 2
      grid-column: 1
    &__legal
      grid-row: 2
      grid-column: 3
    &__contact
      &-details
        grid-row: 3
        width: 100%
      &-form
        grid-row: 4
        // grid-column: 1
        display: flex
        flex-direction: column
      &__item--air
        margin-bottom: 18px
    &__title
      &--contact
        margin-top: 24px
      &--mb
        margin-top: 15px
        margin-bottom: 34px
    &__input-group
      flex-basis: 47%
    &__button
      padding: 17px
      height: 50px
    &__message
      margin-bottom: 22px
    &__icon
      min-width: 20px
      object-fit: cover
      min-height: 20px
    &__item
      &--phone
        margin-top: 10px
  // .footer
  //   padding-bottom: 5px
  //   &__input
  //     &-group
  //       flex-basis: 48%
  //   &__contact-form
  //     margin-top: -10px
  //   &__title
  //     &--mb
  //       margin-bottom: 32px
  .basement
    padding-top: 0
    &-wrapper
      justify-content: space-between
    &__logo
      margin-top: -5px
  .modal
    &__dialog
      width: 120%
    &__button
      order: 1
      width: 100%
    &__info
      margin-bottom: 10px
      // _________________________________________________________________________________________________
@media ( max-width: 576px )
  .container
    max-width: 500px
    width: 92%
  .logo
    width: 99px
  .hotel
    margin-top: 0
    &-name
      margin-top: 12px
    &-desription
      width: 88%
    &-info
      margin-bottom: 40px
    &-right
      flex-direction: column
      min-height: 380px

    &-slider
      height: 100%
      margin-bottom: 20px
      &__item
        // margin-bottom: 10px
        height: 180px
  .booking
    width: 100%
    min-width: 100%
    margin-bottom: 20px
  .map
    &-frame
    &-google
      width: 100%
      min-width: 100%
      height: 170px
  .newsletter
    padding: 78px 0 84px 0
    &__form
      align-self: start
      width: 94%
    &-wrapper
      flex-direction: column
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      font-size: 20px
      line-height: 25px
      margin-bottom: 40px
  .reviews
    padding-right: 10px
    padding-left: 10px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      width: 200px
      margin-bottom: 42px
      text-align: center
      margin-left: auto
      margin-right: auto
  .card
    width: 100%
    height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 36px
    &-wrapper
      flex-direction: column
      align-items: center
  .grid-container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(5,500px)
    grid-template-areas: "blueheaven" "bellemare" "whitepalace" "luxuryplace" "fivestar"
  .blueheaven
    display: block
  .right
    &-wrapper
      &__depiction
        display: none
  .stars
    display: none
  .advice
    &-top
      &__image
        display: block
        height: 250px
  .footer
    padding-bottom: 30px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 10px
    &__social
      &-network
        grid-row: 2
        padding-top: 0
        display: block
      &-links
        justify-content: start
    &__link
      margin-right: 15px
    &__title
      &--inline
        flex-basis: 100%
        margin-bottom: 16px
      &--mb
        margin-top: 50px
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 100%
      &-form
        grid-row: 7
        grid-column: 1
        display: flex
        flex-direction: column
      &__item--air
        margin-bottom: 18px
    &__message
      margin-bottom: 15px
      flex-basis: 92%
    &__input
      &-group
        flex-basis: 92%
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 1
  .basement
    padding: 0px 0 21px 0
    &-wrapper
      flex-direction: column
    &-text
      align-self: start
      margin-bottom: 10px
  .modal
    &__info
      margin-bottom: 10px
