.grid-container
  display: grid
  grid-template-columns: 350px 350px 350px
  grid-template-rows: 500px 500px 500px
  gap: 30px 30px
  grid-template-areas: "card-1 card-1 card-2" "card-3 card-4 card-5"
.card-1
  grid-area: card-1
  border: 1px solid #000
.card-2
  grid-area: card-2
  border: 1px solid #000
.card-3
  grid-area: card-3
  border: 1px solid #000
.card-4
  grid-area: card-4
  border: 1px solid #000
.card-5
  grid-area: card-5
  border: 1px solid #000
